$main-font: "Roboto", "Arial", sans-serif;

$accent: #fbb623;
$title: #499fdc;
$text-color: #020202;
$black: #1a1a1a;
$bg-instruction: #f1f1f1;
$bg-join: #efefef;
$instruction-step: #d6d6d5;
$label: #aaaaaa;
$gray-form: #e5e5e5;

$mobile-title-font: 20px;
$mobile-title-lineheight: 32px;

$desktop-title-font: 40px;
$desktop-title-lineheight: 48px;

$mobile-padding: 9%;
$tablet-padding: 10%;
$desktop-padding: 15%;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$xl-width: 1400px;

$transition: 0.5s ease;